<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MusicPlayer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
<ion-list>
<ion-item button *ngFor="let track of playlist" (click)="start(track)">

  <ion-label  [color]="track == activeTrack ? 'success' : 'light' ">{{ track.name }}</ion-label>

</ion-item>

</ion-list>
</ion-content>

<ion-footer *ngIf="activeTrack">
<ion-toolbar color="dark">
<ion-row>

<ion-col size="12"  class="ion-text-center">
  {{ activeTrack.name }}
</ion-col>

<ion-col size="12" >
</ion-col>

<ion-col size="12" class="ion-text-center">

<ion-button fill="clear" (click)="prev()" color="light">
  <ion-icon name="arrow-back" color="light"></ion-icon>
</ion-button>

<ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="light">
  <ion-icon slot="icon-only" name="play" color="light">
  </ion-icon>
</ion-button>

<ion-button fill="clear" (click)="togglePlayer(true)"  *ngIf="isPlaying" color="light">
  <ion-icon slot="icon-only" name="stop" color="light">
  </ion-icon>
</ion-button>

<ion-button fill="clear" (click)="next()" color="light">
  <ion-icon slot="icon-only" name="arrow-forward"  color="light">
  </ion-icon>
</ion-button>

</ion-col>

</ion-row>
</ion-toolbar>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</ion-footer> 