
:host {
    .imagediv {
      height: 200px;
      justify-content: center;
      display: flex;
      vertical-align: middle;
      align-items: center;
      width: 100%;
      font-size: 30px;
      color: white;
    }
  }

  .list-md,
  .list-ios {
    margin: 0;
    padding: 0px 0;
    padding-bottom: 53px;
    //  background: var(--ion-tabbar-text-color);
    //background: var(--ion-item-background,var(--ion-background-color,#fff));
  }

  .homescreen-content {
    height: 100%;
    display: flex;
  }
  div { position:fixed; width:50%; height:50% }
  #NW { top:0;   left:0;   background:orange  }
  #NE { top:0;   left:50%; background:blue    }
  #SW { top:50%; left:0;   background:green   }
  #SE { top:50%; left:50%; background:red     }    ​
  
.split {

    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
}

.test1 {
    left:0;
    height: 20%;
    width: 50%;
    background-color: white;
    border-bottom: 2px solid;
}

.test2 {
    
    left:0;
    top: 55%;
    height: 20%;
    width: 20%;
    background-color: rgb(27, 9, 9);
}

.test3 {
  left:0;
  height: 20%;
  width: 20%;
  background-color: rgb(148, 9, 9);
  border-bottom: 2px solid;
}

.test4 {
  
  left:0;
  top: 55%;
  height: 20%;
  width: 20%;
  background-color: rgb(17, 134, 32);
}

.test5 {
  
  left:0;
 
  height: 20%;
  width: 20%;
  background-color: rgb(39, 19, 126);
}

.test6 {
  
  left:0;
  top: 55%;
  height: 20%;
  width: 20%;
  background-color: rgb(238, 34, 194);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

  .video-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .imagediv {
      position: relative;
      background-repeat: no-repeat;
      height: 40% 100px;
      background-size: cover;
      .inner {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 14px;
        background: #222;
        padding: 1px 5px;
        border-radius: 3px;
      }
    }
    .details {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      padding-bottom: 10px;
      .avatar {
        img {
          border-radius: 50%;
          padding: 10px;
          min-width: 65px;
          max-width: 65px;
        }
      }
      .title-block {
        display: flex;
        flex-direction: column;
        padding-top: 14px;
        font-family: sans-serif;
        .extra {
          display: flex;
          flex-direction: row;
          font-size: 14px;
          color: gray;
          align-items: center;
        }
        .dot {
          height: 3px;
          width: 3px;
          background: gray;
          margin: 0px 6px;
        }
      }
    }
  }